<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Inicio - Casino Mitras Sur - Banquetes, eventos bodas, XV años</title>
<meta name="AUTHOR" content="team54.co">
<meta name="DESCRIPTION" content="Casino Mitras Sur, Salon de eventos en Monterrey, Bodas, XV años, Banquetes, Desayunos, Comida. Tel. (81) 8346-5333">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>

<div class="navbar-dark bg-dark p-3 d-flex justify-content-around menubar" >
<a href="index.html" class="btn-outline-light  px-4">INICIO</a>
<a href="nosotros.html" class="btn-outline-light  px-4">NOSOTROS</a>
<a href="paquetes.html" class="btn-outline-light  px-4">PAQUETES</a>
<a href="salones.html" class="btn-outline-light  px-4">SALONES</a>
<a href="noticias.html" class="btn-outline-light  px-4">NOTICIAS</a>
<a href="contacto.html" class="btn-outline-light  px-4">CONTACTO</a>
</div>

<div class="main-bg justify-content-center m-auto">
  <div class="main d-flex nowrap justify-content-center m-auto">
    <img src="images/logo.png">
  </div>
  <div class="d-flex justify-content-around">
   <img src="images/aaa.png" class="img-fluid">
   <img src="images/bv01396.png" class="img-fluid">
   <img src="images/ccc.png" class="img-fluid">
  </div>
</div>

</body>

</html>